<div id="#page1" class="pages" ng-controller='homeController'>
	<div style="text-align: center;width: 100%;">
		<div class="homePageDiv">
			<div style="position:absolute;float:left;width: 140px;height:130px;margin-top:70px;margin-left:54px;" ng-click="gotoOrderPage()"></div>
			<div style="position:absolute;float:left;width: 145px;height:130px;margin-top:10px;margin-left:360px;" ng-click="gotoUserPage()"></div>
			<div style="position:absolute;float:left;width: 150px;height:130px;margin-top:88px;margin-left:702px;" ng-click="gotoProdPage()"></div>
			<div style="position:absolute;float:left;width: 150px;height:130px;margin-top:276px;margin-left:621px;" ng-click="gotoFinancePage()"></div>
			<div style="position:absolute;float:left;width: 150px;height:130px;margin-top:515px;margin-left:523px;" ng-click="gotoAuditLogPage()"></div>
			<div style="position:absolute;float:left;width: 150px;height:130px;margin-top:492px;margin-left:220px;" ng-click="gotoSettlementPage()"></div>
			<div style="position:absolute;float:left;width: 150px;height:130px;margin-top:258px;margin-left:28px;" ng-click="gotoFundAuditPage()"></div>
		</div>
	</div>
	<div style="width: 100%;float:left;color:#0057b1;font-size: 36px;text-align: center;margin: 30px auto;">进入大数据的空间 见证大数据的诞生</div>
</div>