.misPopup {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: gray;
    background-color: white;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px #e5e5e5;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 99;
}
.misPopup ul li{
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 40px;
}

.misPopup p{
    line-height: 30px;
}
.misPopupCover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
}
.misPopupCover.grey{
    background-color: #000;
    opacity: 0.4;
    filter: Alpha(opacity=40);
}
.misPopupHeader {
    text-align: center;
    background-color: #eeeeee;
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5;
}
.titleDiv {
    position: relative;
    display: inline-block;
    width: 498px;
    height: 35px;
    line-height: 40px;
}
.closeDiv {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 35px;
    height: 35px;
}
.closeDivBtn {
    color: #363636;
    width: 18px;
    border: 0;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}
.closeDivBtn::after{
    content: '\2715';
}
.closeDivBtn:active{
    color: red !important;
    background-color: transparent !important;
}
.popupContent{
    display: inline-table;
}
.misPopupHeader a {
    z-index: 999;
    text-decoration: none;
    padding-right: 10px;
}
.misPopupHeader a:active::after{
    color: red;
}
.misPopupHeader a::after{
    content: '\2715';
    color: #a8a8a8;
}
.misPopupBtn{
    height: 25px;
    color: deepskyblue;
    background-color: white;
    width: 80px;
    line-height: 25px;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 3px #e5e5e5;
    margin-left: 5px;
}
.misPopupBtn {
    color: #1d94ed;
    border-radius: 3px;
    outline: none;
    border: 1px solid #CDCDCD;
    background-color: transparent;
}
.misPopupBtn:active{
    color: white;
    background-color: #1d94ed;
}
.misPopupLoading {
    font: 30px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #1d94ed;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 99;
}
.misPopupLoading p {
    line-height: 30px;
}
.fundAuditTitle {
    font-size: 22px;
    color: #383838;
    background-color: #eeeeee;
}
.fundAuditPop {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px #e5e5e5;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 99;
}
.fundAuditPop ul li{
    text-align: left;
    padding: 0 64px;
    font-size: 16px;
}
.fundAuditPop ul li label{
    font-size: 16px;
    color: #383838;
    line-height: 30px;
    margin-right: 5px;
}
.fundAuditPop ul li:first-child{
    margin-top: 15px;
}
.fundAuditPop ul li:nth-child(3){
    padding-bottom: 40px;
    border-bottom: 1px solid #c9c9c9;
}
.fundAuditPop ul li:nth-child(4){
    margin-top: 20px;
    text-align: center;
}
.fundAuditPop ul li:last-child{
    margin: 10px auto;
    text-align: center;
}
.fundAuditCover {
    position: fixed;
    top: 0;
    opacity: 0.5;
    background-color: black;
    left: 0;
    z-index: 98;
}
.fundAuditBtn {
    height:43px;
    width:128px;
    color:#1d94ed;
    font-size:16px;
    background-color: white;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
}
.fundAuditBtn:active {
    color:white;
    background-color: #1d94ed;
    border: 1px solid #1d94ed;
}
.fundAuditTextarea {
    height:125px;
    width:642px;
    font-size: 16px;
    border-radius:3px;
    border:1px solid #d2d2d2;
    color:#b5b5b5;
    padding: 5px;
}
.fundAuditPop1 {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px #e5e5e5;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 99;
}

.financeMgtPop {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px #e5e5e5;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 99;
}
.financeMgtPop ul li {
    height: 46px;
    line-height: 46px;
    font-size: 14px;
}
.financeMgtPop ul li:first-child {
    margin-top: 3px;
}
.financeMgtPop ul li:last-child {
    text-align: center;
}
.financeMgtPop ul li label{
    float: left;
    width: 68px;
    text-align: right;
    color: #666666;
    display: inline-block;
    margin-right: 2px;
    margin-left: 4px;
}
.financeMgtTtileObj {
    height: 20px !important;
}
.financeMgtPop ul li select{
    font-size: 16px;
    margin: 0;
    height: 28px;
    width: 274px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    outline: none;
    padding: 0 5px;
    margin-left: -10px;
}
.financeMgtPop ul li input{
    font-size: 16px;
    height: 26px;
    width: 265px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    padding: 0 5px;
    margin-left: -10px;
    outline: none;
}
.popupBtn1 {
    background-color: white;
    font-size: 16px;
    color: #0092ff;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
}
.popupBtn1:active {
    color: white;
    background-color: #0092ff;
}
.financeMgtBtn {
    height: 33px;
    line-height: 33px;
    width: 97px;
}
.financeMgtWithdrawPopupHeader {
    background-color: transparent;
}


.orderMgtPop {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px #e5e5e5;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 99;
}
.orderMgtPop ul li {
    height: 62px;
    line-height: 62px;
    font-size: 16px;
}
.orderMgtPop ul li:first-child {
    margin-top: 5px;
}
.orderMgtPop ul li:last-child {
    height: 68px;
    line-height: 68px;
    text-align: center;
}
.orderMgtPopLabel1{
    float: left;
    width: 100px;
    text-align: right;
    color: #666666;
    display: inline-block;
    margin-right: 2px;
}
.orderMgtPopLabel2{
    float: left;
    width: 24px;
    color: #a0a0a0;
    font-size: 30px;
    display: inline-block;
}
.orderMgtPop ul li select{
    margin-top: 12px;
    margin-left: 5px;
    float: left;
    font-size: 16px;
    height: 36px;
    width: 366px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    outline: none;
    padding: 0 5px;
}
.orderMgtPop ul li input{
    font-size: 16px;
    margin-top: 12px;
    margin-left: 5px;
    float: left;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    padding: 0 5px;
    outline: none;
}
.orderMgtPopInput1 {
    width: 354px;
}
.orderMgtPopInput2 {
    width: 129px;
    padding-right: 32px !important;
}
.orderMgtPopInput3 {
    padding-right: 32px;
    background: url(../img/calendar_32px.png) no-repeat right;
    background-size: contain;
}
.orderMgtBtn {
    height: 44px;
    width: 130px;
}
.prodDetailPopupImgDiv {
    width:800px;
    height:600px;
    overflow:hidden;
    position:relative;
    display:table-cell;
    text-align:center;
    vertical-align:middle
}
.prodDetailPopupImgDiv p{
    position:static;
    +position:absolute;
    top:50%
}
.prodDetailPopupImgDiv img {
    position:static;
    +position:relative;
    top:-50%;
    left:-50%;
    max-width:800px;
    max-height:600px;
}




.financePyamentMgtPop {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px #e5e5e5;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 99;
}
.financePyamentMgtPop ul li {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}
.financePyamentMgtPop ul li:first-child {
    margin-top: 5px;
}
.financePyamentMgtPop ul li:nth-child(5) {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.financePyamentMgtPop ul li select{
    margin-top: 12px;
    margin-left: 5px;
    float: left;
    font-size: 16px;
    height: 36px;
    width: 366px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    outline: none;
    padding: 0 5px;
}
.financePyamentMgtPop ul li input{
    font-size: 16px;
    margin-top: 12px;
    margin-left: 5px;
    float: left;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    padding: 0 5px;
    outline: none;
}
.financePyamentMgtPop ul li:fifth-child {
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.popOne ul li{
    width: 300px;
    height: 40px;
    line-height: 40px;
    display: inherit;
    margin:0 auto;
}
.popOne ul li input, .popOne ul li select{
    float: left;
    display: inline-block;
    line-height: 20px;
    margin: 0 10px;
    margin-top: 8px;
    width: 160px;
    height: 20px;
}
.popOne ul li select{
    height: 24px;
    line-height: 24px;
    width: 162px;
}
.popOne label{
    float: left;
    display: inline-block;
    text-align: right;
    width: auto;
}
.popOne .my-searchdown{
    float: left;
    width: 184px;
}
.popOne .my-searchdown ul{
    display: inline-block;
    position: absolute;
    border: 1px solid #d2d2d2;
    height: auto;
    width: 162px;
    overflow: auto;
    top: 32px;
    left: 10px;
    z-index: 99;
    background: #FFF;
    max-height: 80px;
}
.popOne .my-searchdown ul li{
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: left;
    display: inline-block;
    margin: 0;
    border-bottom: 1px solid #d2d2d2;
    float: left;
}
.popOne ul li.errorMsg{
    height: 20px;
    line-height: 20px;
    color: #ff0000;
}

.popTwo ul li{
    width: 450px;
    height: 40px;
    line-height: 40px;
    display: inherit;
    margin:0 auto;
}
.popTwo ul li input, .popTwo ul li select{
    float: left;
    display: inline-block;
    line-height: 20px;
    margin: 0 10px;
    margin-top: 8px;
    width: 140px;
    height: 20px;
}
.popTwo ul li select{
    height: 24px;
    line-height: 24px;
    width: 142px;
}
.popTwo label{
    float: left;
    display: inline-block;
    text-align: right;
    width: 80px;
}
.popTwo label.middle{
    width: 10px;
}
.popTwo .my-searchdown{
    float: left;
    width: 184px;
}
.popTwo .my-searchdown ul{
    display: inline-block;
    position: absolute;
    border: 1px solid #d2d2d2;
    height: auto;
    width: 142px;
    overflow: auto;
    top: 32px;
    left: 10px;
    z-index: 99;
    background: #FFF;
    max-height: 80px;
}
.popTwo .my-searchdown ul li{
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: left;
    display: inline-block;
    margin: 0;
    border-bottom: 1px solid #d2d2d2;
    float: left;
}
.popTwo ul li.errorMsg{
    height: 20px;
    line-height: 20px;
    color: #ff0000;
}

.popPannel{
    width: 80%;
    height: auto;
    border:1px solid #dcdcdc;
    position: absolute;
    top:20px;
    left: 20px;
    z-index: 99;
    background-color: #fff;
    border-radius: 5px;
}
.popPannel .titleDiv{
    width: 100%;
    height: 35px;
}
.popPannel .infoDiv{
    display: inline-block;
}
.popPannel .misPopupHeader{
    position: absolute;
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.popPannel .selected-item{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    background-color: #336699; 
    margin: 5px;
    padding: 0 5px;
    border-radius: 3px;
    float: left;
    cursor: default;
    color: #ddd;
}
.popPannel .selected-info{
    display: inline-block;
    color: #1d94ed;
    font-size: 12px;
    float: left;
    line-height: 38px
}